@import "_nullstyle";

@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
	font-weight: 800;
}
@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/Ubuntu-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/Ubuntu-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: 'Ubuntu-Italic';
	src: url("../assets/fonts/Ubuntu-Italic.ttf");
	font-weight: 400;
}
.wraper {
	min-height: 100%; 
	overflow: hidden; 
	flex-direction: column;
 }
 .main {
	flex: 1 1 auto;
 }
 .container {
	max-width: 1170px; 
	margin: 0px auto; 
 }
 /*-----------------------*/ 
html {
	scroll-behavior: smooth; 
}
body {
	background-color: #808080;	
}
.header {
	width: 100%;
	background: linear-gradient(to right, #303030 45%, #808080 45%);	
}
.description-wrap{
	width: 100%;
	display: flex;
	flex-wrap: wrap;		
}
.description {
	width: 100%;
	display: flex;
	flex-direction:column;
	background-color: #303030;		
	align-items: flex-end;
	padding-right: 30px;
	font-family: Montserrat;
	border-radius: 0px 0px 50px 0px;
	
}
.description__nav {
}
.nav {
	width: 100%;	
}
.nav__list {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #A6A6A6;
	border-radius: 0px 0px 20px 5px;
	opacity: 0.5;
	transition: 0.8s linear;
	&:hover{
		opacity: 0.8;
	}
}
.nav__item {
	padding: 5px;
}
.nav__link {
	font-family: Montserrat;
	font-weight: 500;
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320))); 
	color: #ffffff;
	&:hover{
		color: #303030;
	}

}
.description__list{
	margin-top: 80px;
}
.list {
	text-align: end;
}
.list__item {	
	margin-bottom: 50px;	
	animation-duration: 1.5s;
	animation-name: slideInLeft;
}
.list__link {	
	//font-size: 18px;
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320))); 
	font-weight: 500;
	color: #A6A6A6;
	&:hover{
		color: #ffffff;		
		.icon
		{border: 2px solid #ffffff;
	}	
}
}
.icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	text-align: center;
	padding-top: 10px;
	color: #ffffff;	
	font-size: 28px;	
	background-color: #A6A6A6;
	border-radius: 50%;	
}
.description__title {		
	font-weight: 800;
	//font-size: 72px;
	font-size: calc(48px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
   letter-spacing: 7px;	
	color: #ffffff;
	margin-bottom: 20px;
	animation-duration: 1.5s;	
	animation-name: zoomIn; 
}

.description__subtitle {	
	font-weight: 600;
	//font-size: 56px; 
	font-size: calc(38px + (56 - 38) * ((100vw - 320px) / (1920 - 320))); 
	color: #ffffff;
	letter-spacing: 3px;
	color: #A6A6A6;
	padding-right: 5px;
	animation-duration: 2s;	
	animation-name: zoomIn;
}
.description__profession {
	margin: 80px 0px 80px 0px;
	animation-duration: 2s;
	animation-name: slideInLeft;
}
.profession {	
	color: #A6A6A6;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.profession__line {
	width: 256px;
	height: 5px;
	background-color: #A6A6A6 ;
	border-radius: 2px;
}
.profession__text {
	text-transform: uppercase;
	font-weight: 600;
	//font-size: 32px;
	font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))); 
	letter-spacing: 2px;
}
.avatar {
	width: 100%;	
	background-color: #808080;	
}
.avatar__image-wrap {
	height: 100%;	
	display: flex;	
	justify-content: center;
	align-items: center;
	animation-duration: 1.5s;	
	animation-name: zoomIn;
	img{	
		margin: 20px 0px 0px 0px;		
		//width: 420px;
		width: calc(300px + (400 - 300) * ((100vw - 320px) / (1920 - 320))); 
		height: auto;
		border: 1px solid #A6A6A6;
		border-radius: 50px;		
		box-shadow: 12px 25px 52px 0px rgba(166, 166, 166, 1);
	}
}
.main{	
	width: 100%;	
	margin-top: 50px;   
   background: linear-gradient(to right, #303030 45%, #ffffff 45%);	
}

.columns-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.left-column {		
	background-color: #303030;
	border-radius: 0px 50px 50px 0px;
	color: #ffffff;
	padding: 0px 30px 50px 10px;	
	width: 100%;	
}
.right-column{			
	color: #000000;	
	padding: 0px 5px 0px 5px;
	width: 100%;
	background-color: #ffffff;
}
.content{
	font-family: 'Ubuntu';	
	font-weight: 400;	
	opacity: 0;		
}
.content._active {
	opacity: 1;	
	animation-duration: 1.5s;	
	animation-name: slideInUp; 
}
.content__title {
	margin: 100px 0px 0px 0px;
	font-family: Montserrat;
	font-weight: 700;
	//font-size: 36px;
	font-size: calc(28px + (36 - 28) * ((100vw - 320px) / (1920 - 320))); 
   letter-spacing: 9px;	
	text-transform: uppercase;	
}
.content__line {
	margin: 40px 0px 40px 0px;
	width: 100%;
	height: 3px;
	background-color: #A6A6A6;
}
.content__text {	
	font-size: 20px;
	font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))); 
	line-height: 2.2;
	span{
		font-family: 'Ubuntu-Italic';
	}
}
.content__list{	
	li{
		span{
			font-family: 'Ubuntu-Italic';	
		}
		&::before{
			content: '•';
			padding-right: 10px;
		}
	}
}
.content__code{	
	min-width: 300px;	
	font-family: 'Ubuntu';	
	font-weight: 400;
	//font-size: 18px;
	font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320))); 
	background-color: #545454;
	padding-bottom: 10px;	
	border-radius: 30px;
	opacity: 0;
	code {
		width: inherit;
	}
}
.content__code._active{
	opacity: 1;	
	animation-duration: 1.5s;	
	animation-name: zoomIn;
}
.overhead{
	font-family: Montserrat;
	font-weight: 800;
	font-size: 42px;
	font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (1920 - 320))); 
   letter-spacing: 9px;	
	text-transform: uppercase;	
	margin-top: 80px;	
	opacity: 0;
}
.overhead._active{
	opacity: 1;	
	animation-duration: 1.5s;	
	animation-name: slideInRight; 

}
.footer {	
	margin-top: 50px;	
	background-color: #303030;
	border-radius: 50px 50px 0px 0px;
}


.enwall {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
	background-color: #303030;
	color: #ffffff;		
}
.enwall__line{
	width: 30%;
	height: 3px;
	background-color: #A6A6A6;
}
.enwall__content {
	padding: 10px 20px 5px 20px;
	display: flex;	
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-family: Montserrat;	
	font-weight: 500;
	//font-size: 16px;
	font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320))); 
	p{
		text-align: center;
		padding: 10px;
		a{
			color: #ffffff;
			&:hover{				
				color: #A6A6A6;
			}			
		}
	}
}
.rslogo{
	width: 100px;
	height: auto;
}
.footer-icon{
	color: #ffffff;
	font-size: 22px;
}

@media (min-width: 875px){
	.left-column {		
		width: 55%;	
	}
	.right-column{
		width: 45%;
	}
}
@media (min-width: 769px) {
	.description-wrap{
		flex-wrap: nowrap;		
	}
	.description {
		min-width: 55%;		
	}
	.avatar {
		min-width: 45%;			
	}
	.avatar__image-wrap {		
		img{	
			margin: 0px 0px 0px 150px;		
			
		}
	}	
	.enwall__content {
		padding: 10px 20px 5px 20px;
		display: flex;	
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;		
	}
}
@media (min-width: 376px){	
	.right-column{			
		padding: 0px 5px 0px 50px;	
	}
}

@keyframes slideInUp {
	from {
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	  visibility: visible;
	}
 
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
 }
 @keyframes slideInRight {
	from {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  visibility: visible;
	}
 
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
 }
 @keyframes zoomIn {
	from {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
 
	50% {
	  opacity: 1;
	}
 }
 @keyframes slideInLeft {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  visibility: visible;
	}
 
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
 }