@import "_nullstyle";

@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
	font-weight: 800;
}
@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/Ubuntu-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: 'Ubuntu';
	src: url("../assets/fonts/Ubuntu-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: 'Ubuntu-Italic';
	src: url("../assets/fonts/Ubuntu-Italic.ttf");
	font-weight: 400;
}
.wraper {
	min-height: 100%; 
	overflow: hidden; 
	flex-direction: column;
 }
 .main {
	flex: 1 1 auto;
 }
 .container {
	max-width: 1170px; 
	margin: 0px auto; 
 }
 /*-----------------------*/ 
body {
	background-color: #808080;	
}
.header {
	width: 100%;
	background: linear-gradient(to right, #303030 45%, #808080 45%);	
}
.description-wrap{
	width: 100%;
	display: flex;
	flex-wrap: wrap;		
}
.description {
	width: 100%;
	display: flex;
	flex-direction:column;
	background-color: #303030;		
	align-items: flex-end;
	padding-right: 30px;
	font-family: Montserrat;
	border-radius: 0px 0px 50px 0px;
}
.description__list{
	margin-top: 80px;
}
.list {
	text-align: end;
}
.list__item {	
	margin-bottom: 50px;	
}
.list__link {	
	//font-size: 18px;
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320))); 
	font-weight: 500;
	color: #A6A6A6;
	&:hover{
		color: #ffffff;		
		.icon
		{border: 2px solid #ffffff;
	}	
}
}
.icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	text-align: center;
	padding-top: 10px;
	color: #ffffff;	
	font-size: 28px;	
	background-color: #A6A6A6;
	border-radius: 50%;	
}
.description__title {		
	font-weight: 800;
	//font-size: 72px;
	font-size: calc(48px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
   letter-spacing: 7px;	
	color: #ffffff;
	margin-bottom: 20px;
}
.description__subtitle {	
	font-weight: 600;
	//font-size: 56px; 
	font-size: calc(38px + (56 - 38) * ((100vw - 320px) / (1920 - 320))); 
	color: #ffffff;
	letter-spacing: 3px;
	color: #A6A6A6;
	padding-right: 5px;
}
.description__profession {
	margin: 80px 0px 80px 0px;
}
.profession {	
	color: #A6A6A6;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.profession__line {
	width: 256px;
	height: 5px;
	background-color: #A6A6A6 ;
	border-radius: 2px;
}
.profession__text {
	text-transform: uppercase;
	font-weight: 600;
	//font-size: 32px;
	font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))); 
	letter-spacing: 2px;
}
.avatar {
	width: 100%;
	display: flex;	
	justify-content: center;
	background-color: #808080;	
}
.avatar__image-wrap {
	height: 100%;	
	align-items: center;	
	img{
		margin-top: 15px;
		//width: 420px;
		width: calc(300px + (400 - 300) * ((100vw - 320px) / (1920 - 320))); 
		height: auto;
		border: 1px solid #A6A6A6;
		border-radius: 50px;		
		box-shadow: 12px 25px 52px 0px rgba(166, 166, 166, 1);
	}
}

@media (min-width: 769px) {
	.description-wrap{
		flex-wrap: nowrap;		
	}
	.description {
		min-width: 55%;		
	}
	.avatar {
		min-width: 45%;			
	}	
	
}
